future~=0.18.2
PySimpleGUI~=4.45.0
pandas~=1.2.4
ipywidgets~=7.6.3
ipython~=7.26.0
mysql-connector-python~=8.0.25
numpy~=1.21.1
pushbullet.py~=0.12.0
plotly~=5.1.0
yfinance~=0.1.63
requests~=2.25.1
ta~=0.7.0
websocket-client~=1.0.1
binance~=0.3
SQLAlchemy~=1.4.19
matplotlib~=3.4.2
Pillow~=8.2.0
whale-alert=0.04
websockets=9.1
ujson=4.0.1
pandas-ta=0.3.14b0
